
<head>
   
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
    <style>
        body{
             background-color: rgb(66, 87, 126);
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">School</a>
          </div>
          <ul class="nav navbar-nav">
            <li ><a href="/">logout</a></li>
            <li><a href="/edit">Profile</a></li>
            <li class="active"><a href="#upload">Edit Profile</a></li>
          </ul>
        </div>
      </nav>



    <div class="container" style="text-align: center;">
    <h1>Edit your Profile:-</h1></br></br>
    <form method="POST" action="/upload">
     Id:<input type="text" name="t0" value="<%= data[0].id %>"></br></br>
     name:<input type="text" name="t1" value="<%= data[0].name %>"></br></br>
     age:<input type="text" name="t2" value="<%= data[0].age %>"></br></br>
     std:<input type="text" name="t3" value="<%= data[0].std %>"></br></br>
     Password:<input type="text" name="t4" value="<%= data[0].Password %>"></br></br>
      <button type="submit">Click</button>
      
    </form>
    </div>
</body>
</html>